<h1>Search Results</h1>

<% if (data.length > 0) { %>
    <% data.forEach(post => { %>
        <div class="post">
            <h2><a href="/post/<%= post._id %>"><%= post.title %></a></h2>
            <p>Posted by <%= post.author ? post.author.username : 'Unknown' %> on <%= post.createdAt.toLocaleDateString() %></p>
            <p><%= post.body.substring(0, 100) %>...</p>
        </div>
    <% }) %>
<% } else { %>
    <p>No results found.</p>
<% } %>